<h3>SHOW ESTUDIANTES</h3>
<div>
    <div>
        <label> <b>Name: </b></label> {{estudiante.name}}
    </div>
    <div>
        <label> <b>Email: </b></label> {{estudiante.email}}
    </div>
    <div>
        <label> <b>altura: </b></label> {{estudiante.altura}}
    </div>
    <div>
        <label> <b>birthday: </b></label> {{estudiante.birthday}}
    </div>
    <div>
        <label> <b>positions: </b></label> {{estudiante.positions}}
    </div>
    <div>
        <label> <b>state: </b></label> {{estudiante.state}}
    </div>
    <button (click)="listEstudiante()" class="btn btn-success">Back</button>
</div>