<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
      <LI class="nav-item"> 
        <a routerLink="estudiante" routerLinkActive="active" class="nav-link">P-R-O-Y-E-C-T-O</a>  
      </LI> 
      <LI class="nav-item"> 
        <a routerLink="numbers" routerLinkActive="active" class="nav-link">NUMBERS</a>  
      </LI> 
      <LI class="nav-item"> 
        <a routerLink="directives" routerLinkActive="active" class="nav-link">DIRECTIVES</a>  
      </LI>   
    </div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class ="container">
  <router-outlet></router-outlet>
</div>